@model IEnumerable<MVCGame.Models.Game>
@{
    ViewData["Title"] = "GAME ROOMS";
}

<h3>WELCOME TO @ViewData["RoomID"] ROOM</h3>

<p class="canvas">
    <canvas id="mainCanvas" width="640" height="480">
        Ваш браузер не поддерживает Canvas
    </canvas>
</p>

<script>
    var canvas = document.getElementById("mainCanvas"),
        context = canvas.getContext("2d");
</script>
@foreach (Square sq in ViewBag.Squares)
{
    <script>
            context.strokeRect(@sq.X, @sq.Y, @sq.Edge, @sq.Edge);
    </script>
}
