@model List<MVCGame.Models.Square>
<script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>

<style>
    #container {
        width: 640px;
        height: 480px;
        margin: auto;
        border-style: solid;
        border-width: 1px;
    }
</style>

<div>
    <h3>WELCOME TO @ViewData["RoomID"] ROOM</h3>
    <div id="container">
    </div>
</div>

<script>
    var stage = new Konva.Stage({
        container: 'container',
        width: 640,
        height: 480
    });
    var layer = new Konva.Layer();
</script>

<form con="/Game/Play" method="post">
    @using (Html.BeginForm())
    {
        for (int i = 0; i < Model.Count(); i++)
        {
    <script>
                var box = new Konva.Rect({
                    x: @Model[i].X,
                    y: @Model[i].Y,
                    width: @Model[i].Edge,
                    height: @Model[i].Edge,
                    fill: '#00D2FF',
                    stroke: 'black',
                    strokeWidth: 4,
                    draggable: true
                });

                box.on('mouseover', function () 
                {
                    document.body.style.cursor = 'pointer';
                });

                layer.add(box);
                stage.add(layer);
    </script>
        }
        //<input type="submit" />
    }
</form>

